body {
    display: flex;
}

.export-schedule-btn {
    display: block;
    background-color: darkgray;
    color: black;
    border-radius: 4px;
    margin-top: 1em;
    margin-right: 1em;
}

#glo2003-project-notifications {
    margin-right: 3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    overflow-y: auto;
    
    background-color: #16262f;

    width: 100%;
    max-width: 400px;
    height: 100%;
}

.notification-box {
    border-bottom: 1px solid black;
}

.notification-title {
    text-align: center;
}

.notification-infos {


    display: flex;
    justify-content: space-between;
}

.notification-repository {
}